<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>receive-order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="itemdetails">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Item: {{ items[0]?.ItemNumber }}</ion-card-title>
        <ion-card-subtitle>{{ items[0]?.ItemDesc }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>PO Number:</strong> {{ items[0]?.PoNumber }}</p>
        <p><strong>Delivery Date:</strong> {{ items[0]?.NeedByDate }}</p>
        <p><strong>Shipment Line Number:</strong> {{ items[0]?.PoShipmentNumber }}</p>
        <p><strong>Quantity Ordered:</strong> {{ items[0]?.QtyOrdered }} {{ items[0]?.ItemUom }}</p>
        <p><strong>Routing Name:</strong> {{ items[0]?.RoutingName }}</p>

        <ion-item>
          <ion-label>Coo:</ion-label>
          <ion-input formControlName="coo" type="text"></ion-input>
        </ion-item>
        <ion-note color="danger"
          *ngIf="itemdetails.get('coo')?.touched && itemdetails.get('coo')?.hasError('required')">
          COO is required
        </ion-note>
        <div *ngIf="items[0]?.RoutingName === 'Direct Delivery'">
        <ion-item>
          <ion-label>SubInventory:</ion-label>
          <ion-input [value]="subinventorycode" formControlName="subinv"></ion-input>
          <ion-icon slot="end" name="create" (click)="Resetform()"></ion-icon>
          <ion-icon slot="end" name="chevron-forward-sharp" (click)="openSubInventory()"></ion-icon>
        </ion-item>
        <ion-note color="danger"
          *ngIf="itemdetails.get('subinv')?.touched && itemdetails.get('subinv')?.hasError('required')">
          SubInventory is required
        </ion-note>

        <ion-item>
          <ion-label>Locator:</ion-label>
          <ion-input formControlName="loc"></ion-input>
          <ion-icon slot="end" name="create" (click)="Resetform()"></ion-icon>
          <ion-icon slot="end" name="chevron-forward-sharp" (click)="openLocators()"
            *ngIf="itemdetails.get('subinv')?.value"></ion-icon>
        </ion-item>
        <ion-note color="danger"
          *ngIf="itemdetails.get('loc')?.touched && itemdetails.get('loc')?.hasError('required')">
          Locator is required
        </ion-note>
        </div>
        
        <ion-item>
          <ion-label>Qty Receiving:</ion-label>
          <ion-input formControlName="qty" type="number"></ion-input>
        </ion-item>
        <ion-note color="danger"
          *ngIf="itemdetails.get('qty')?.touched && itemdetails.get('qty')?.hasError('required')">
          Quantity is required
        </ion-note>

      </ion-card-content>
    </ion-card>

    <ion-button  type="submit" [disabled]="itemdetails.invalid" (click)="submitGoodsReceipt()">Receive + Next</ion-button>
  </form>
</ion-content>