<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Organizations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Select Organization</h2>
  <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>

  <ion-list>
    <ion-item *ngFor="let row of filteredOrganizations"  (click)="selectOrganization(row)" [class.selected]="selectedOrg?.InventoryOrgId === row.InventoryOrgId">
      <ion-icon *ngIf="selectedOrg?.InventoryOrgId === row.InventoryOrgId" name="checkmark-circle" slot="start" color="primary"></ion-icon>
      <div>
        <!-- <ion-icon name="business-sharp"></ion-icon> -->
        <strong>{{ row.InventoryOrgCode }}</strong>
        <p>{{ row.InventoryOrgName }}</p>
      </div>
    </ion-item>
  </ion-list>

<ion-button expand="block" (click)="continue()" [disabled]="!selectedOrg"> Continue </ion-button>

  <p *ngIf="filteredOrganizations.length === 0">No results found.</p>
</ion-content>
