<ion-content>
  <h1>Mobile Supply Chain</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-icon name="people-circle"></ion-icon>
        <ion-input formControlName="username" label="Username" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input formControlName="password" label="Password" type="password" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button type="submit"> Login </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>