<ion-content fullscreen>
  <div class="login-background">
    <strong><h1>Mobile Supply Chain</h1></strong>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-icon name="people-circle"></ion-icon>
          <strong><ion-input formControlName="username" label="Username" labelPlacement="floating"></ion-input></strong>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <strong><ion-input formControlName="password" label="Password" type="password" labelPlacement="floating"></ion-input></strong>
        </ion-item>
      </ion-list>

      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button type="submit" expand="block"> Login </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>


